@model Edu_DB_ASP.Models.Learner

@{
	ViewData["Title"] = "Learner Profile";
}

<style>
	.back-to-index button {
		background-color: #313244; /* surface0 */
		color: #D9E0EE; /* text */
		border: none;
		padding: 0.75rem 1.5rem;
		font-size: 1rem;
		cursor: pointer;
		border-radius: 4px;
		transition: background-color 0.3s;
	}

	.back-to-index button:hover {
		background-color: #45475A; /* surface1 */
	}
</style>

<div class="centered-container">
	<h1>Profile</h1>

	<table class="table">
		<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.Gender)</th>
			<th>@Html.DisplayNameFor(model => model.CountryOfOrigin)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.ProfilePictureUrl)</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>@Html.DisplayFor(model => model.FirstName)</td>
			<td>@Html.DisplayFor(model => model.LastName)</td>
			<td>@Html.DisplayFor(model => model.Gender)</td>
			<td>@Html.DisplayFor(model => model.CountryOfOrigin)</td>
			<td>@Html.DisplayFor(model => model.Email)</td>
			<td>@Html.DisplayFor(model => model.ProfilePictureUrl)</td>
			<td>
				<a asp-action="Edit" asp-route-id="@Model.LearnerId">Edit</a> |
				<a asp-action="Details" asp-route-id="@Model.LearnerId">Details</a> |
				<a asp-action="Delete" asp-route-id="@Model.LearnerId">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="back-to-index">
		<a asp-action="Index" asp-controller="PersonalizationProfiles">
			<button>Go to Your Personalization Details</button>
		</a>
	</div>
	
</div>